# BEGIN RWRITE
# We redirect every call to the index file in our root
# This means that we can safely check everything via the front controller
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L]
</IfModule>
# END REWRITE